@media screen and(min-width:60rem) {
    body {
        color: green;
        main {
            .stories {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: auto;
                grid-template-areas:
                    "title title title first"
                    "title title title second"
                    "bottom bottom bottom bottom";
            } // end stories
            #footerWrapper footer {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: auto;
            }
        }
    }
} //end media query
