body {
    color: purple;
}
header {
    figure.logo {
        float: left;
        margin: 0;
    }
}
nav {
    background-color: aqua;
    display: flex;
    justify-content: left;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            float: right;
            width: 25%; // this determines height of nav bar
        }
    }
}
