//I just need to add the X on my hamburger menu and then I can submit!

* {
    margin: auto;
}
body {
    font-size: 16px;
    max-width: 75rem;
    margin: auto;
    margin-bottom: 100px;
    font-family: "Roboto", sans-serif;
}

header {
    padding: 0.5rem 2%;
    background-color: pink;
    max-width: 75rem;
    figure.logo {
        float: left;
        margin: 0 2% 0 0;
    }
}
div#navWrapper {
    background-color: black;
    max-width: 75rem;
}
nav {
    max-width: 75rem;
    button {
        padding: 0.5rem;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        color: white;
    } //end button

    button span:nth-child(1) {
        display: block; // this makes the hamburger menu always appear
    }
    button span:nth-child(2) {
        display: none; //this makes the X go away
    }
    button.open span:nth-child(1) {
        display: none; // this makes the hamburger menu go away when its open
    }
    button.open span:nth-child(2) {
        display: block; // this makes the x appear when the menu is open
    }
    ul {
        display: none;
        border-top: solid 1px rgba(255, 255, 255, 0.1);
        padding: 0;

        li {
            border-bottom: solid 1px rgba(255, 255, 255, 0.1);
            list-style-type: none;
            a {
                display: block;
                padding: 0.9rem 2vw;
                text-decoration: none;
                color: white;
            }
        }
        li.active a {
            background-color: lighten(pink, 4%);
            color: black;
        }
        li a:hover {
            background: pink;
            color: black;
        }
    }
    ul.open {
        display: block;
    }
} // end nav css

picture.photoA {
    display: block;
    width: 100%;
    // margin: 0 2%;
}
main picture.photoA img,
main picture.photoB img {
    width: 100%;
}
picture.photoB {
    display: block;
    float: right;
    width: 46%;
    margin: 0 2%;
    max-width: 75rem;
}
// figure.myPhoto img {
//     height: auto;
//     width: 100%;
// }
h1,
p {
    margin-left: 1rem;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
footer {
    max-width: 75rem;
    color: white;
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: 50px;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    min-height: 40px;
    align-items: center;
    clear: both;
}
