* {
    font-family: "Roboto", sans-serif;
}

div#pageWrapper {
    display: grid;
    grid-template-areas:
        "hamburger"
        "header"
        "content"
        "footer"
        "navigation";

    margin: auto;
}

body {
    color: red;
    margin: auto;

    header {
        grid-area: header;
        background-color: green;
    }
    nav {
        grid-area: navigation;
        background-color: red;
        height: 100vh;

        ul {
            padding: 0;
            li {
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: white;
                    display: block;
                    padding: 0.9rem 0.5rem;
                    text-align: left;
                    border-bottom: 1px rgba(0, 0, 0) solid;
                    text-decoration: none;
                }
            }
        }
        ul li a:hover {
            background-color: rgba(0, 0, 0, 0.25);
        }
        li.active a {
            background-color: grey;
            color: white;
        }

        a.myjump {
            padding: 0.5rem;
            text-decoration: none;
            font-size: 1.5rem;
        }
    }

    div#hamburger {
        grid-area: hamburger;
        padding: 0.5rem;
        border-style: none;
        font-size: 1.5rem;
    }
    main {
        grid-area: content;
        height: 100%;
        div.tech {
            display: grid;

            h2 {
                padding: 1rem;
                grid-column-start: 1;
            }
            p {
                grid-column-start: 1;
                padding: 1rem;
            }
            img {
                grid-column-start: 1;
                justify-self: center;
                margin-right: 1rem;
                margin-bottom: 2rem;
            }
        }

        div.secondtech {
            display: grid;
            grid-template-columns: 1fr;
            h2 {
                padding: 1rem;
            }
            p {
                padding: 1rem;
            }
            img {
                justify-self: center;
            }
        }
    }
}
// div.mainWrapper {
//     background-color: red;
// }
footer {
    grid-area: footer;
    background-color: purple;
}
