@media only screen and(min-width:65rem) {
    body {
        max-width: 75rem;
        margin: auto;
        main {
            section#weatherforecast {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }
        }
    }
}
