@media screen and(min-width:35rem) {
    body {
    }
    nav {
        ul#primaryNav {
            width: 250px;
        }
    }
    main {
        div.figures figure {
            flex-basis: 29%;
            margin: 1rem 2%;
        }
    }
} //end media query
