@media only screen and(min-width:35rem) {
    body {
        div.aboutUs {
            div.imgDiv {
                margin: 0.5rem;
                flex-basis: 33%;

                div {
                    padding-left: 0;
                }
            }
        }

        div.secondContent {
            display: grid;
            grid-template-columns: 1fr;
            div.gridWithThree {
                display: grid;
                margin-top: 1rem;
                h3 {
                    margin-top: 1rem;
                }
                div.infoAndImgDiv {
                    img {
                        display: block;
                        margin: auto;
                    }
                }
                div.infoAndImgDivThree {
                    margin-top: 1rem;
                }
            }
            div.divWithOne {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}
