body {
    color: red;
    header {
        max-width: 64rem;
        margin: auto;
    }
    nav {
        max-width: 64rem;
        margin: auto;
    }
    div.heroImg {
        max-width: 64rem;
        margin: auto;
    }
    div.aboutUs {
        max-width: 64rem;
        margin: auto;
    }
    div.secondContent {
        max-width: 64rem;
        margin: auto;
    }
    div.logosDiv {
        max-width: 64rem;
        margin: auto;
    }
}
