/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
header,
nav,
main,
footer {
  margin: 0 auto;
  width: 100%;
}
nav {
  max-width: 75rem;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}
header {
  text-align: left;
  background-color: #c4851b;
  max-width: 75rem;
}
h1 {
  padding-left: 1rem;
}
header h1,
h2 {
  margin: 0;
  padding-left: 1rem;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  max-width: 75rem;
  text-align: center;
  list-style-type: none;
  background-color: #d0af71;
}
nav ul li a {
  color: black;
  display: inline-block;
}
.activeAnchor {
  background-color: #462e10;
  color: white;
  width: 100%;
}

ul li main h1 {
  text-align: center;
}
main {
  max-width: 75rem;
}
main img {
  float: right;
  width: 100%;
}
main p {
  text-align: left;
  padding-left: 1rem;
}
main ul li {
  list-style-type: none;
}
footer {
  background-color: #c4851b;
  text-align: center;
  max-width: 75rem;
  margin-top: auto;
  clear: both;
}
