body {
    color: red;
    width: 100%;

    header {
        background-color: pink;
    }
    nav {
        background-color: rgb(147, 147, 255);
    }

    .search input[type="text"] {
        width: 400px;
        height: 30px;
    }

    .search {
        margin: 2rem 1rem;
    }

    div.bookSection {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        gap: 1rem;

        h2#bookSection_Title {
            width: 100%;
            text-align: center;
        }

        div.bookContainer {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;

            h2 {
                width: 100%;
                margin-left: 1rem;
            }

            .readingBooks,
            .wantbooks {
                h2 {
                    margin: 0;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                    img {
                        width: 75%;
                        height: auto;
                    }
                }
            }
            .recbooks {
                h2 {
                    margin: 0;
                }
            }
        } // end book container div
    } //end grid div
}
