@media screen and(min-width:35rem) {
    body {
        color: blue;
        #navWrapper {
            nav {
                ul {
                    border: none;
                }
            }
        }
        div.cards {
            gap: 1%;
            
            div.card1 {
                flex-basis: 48%;
            }
            div.card2 {
                flex-basis: 48%;
            }
            div.card3 {
                flex-basis: 48%;
            }
            div.card4 {
                flex-basis: 48%;
            }
        }
    } //end body
} // end media query
