body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    max-width: 64rem;
    margin: auto;

    #headerWrapper {
        background: url(../images/boston6.jpg);
        header {
            width: 100%;
            height: 90px;
            background-color: rgba(160, 159, 159, 0.1);

            h1,
            h2 {
                margin: 0;
                padding-left: 1rem;
            }
            h1 {
                padding-top: 1rem;
            }
            p {
                padding: 0;
            }
        }
    }
}

main {
    max-width: 64rem;
    .swiper {
        width: 100%;
        height: auto;
        picture {
            position: relative;

            img {
                width: 100%;
                display: block;
            }
            p {
                bottom: 0;
                margin: 0;
                padding: 0.5rem 2vw;
                position: absolute;

                transform: translate(-100%);
                background-color: rgba(0, 0, 0, 0.5);
                text-align: center;
                color: white;
                width: 100%;
            }
        }
    }

    div.cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        // gap: 1%;
        margin: 1%;

        div.card1 {
            background-repeat: no-repeat;
            background-color: #b42d25;
            background-position: center;
            flex-basis: 99%;

            a {
                display: block;
                width: 100%;
                height: 444px;
                text-decoration: none;
                color: black;
                padding: 0 2%;
                // transition: all 0.5s ease-in;

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 100%;
                    font-size: 2rem;
                    width: 100%;
                    text-align: center;
                }
            }
            a:hover {
                background-image: url("../images/hotel.jpg");
            }
        }

        div.card2 {
            background-color: #24b34b;
            background-position: center;
            background-repeat: no-repeat;
            flex-basis: 99%;
            a {
                display: block;
                width: 100%;
                height: 444px;
                padding: 0 2%;
                text-decoration: none;
                color: black;
                transition: all 0.5s ease-in;

                div {
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    align-items: center;
                    flex-direction: column;
                    font-size: 2rem;
                    text-align: center;
                }
            }
            a:hover {
                background-image: url("../images/walk.jpg");
            }
        }

        div.card3 {
            background-color: #003da5;
            background-position: center;
            background-repeat: no-repeat;
            flex-basis: 99%;

            a {
                display: block;
                width: 100%;
                height: 444px;
                padding: 0 2%;
                text-decoration: none;
                color: black;
                transition: all 0.5s ease-in;

                div {
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    align-items: center;
                    flex-direction: column;
                    font-size: 2rem;
                    text-align: center;
                }
            }
            a:hover {
                background-image: url("../images/city.jpg");
            }
        }
        div.card4 {
            background-color: #863b96;
            background-position: center;
            background-repeat: no-repeat;
            flex-basis: 99%;

            a {
                display: block;
                width: 100%;
                height: 444px;
                padding: 0 2%;
                text-decoration: none;
                color: black;
                transition: all 0.5s ease-in;

                div {
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    align-items: center;
                    flex-direction: column;
                    font-size: 2rem;
                    text-align: center;
                }
            }
            a:hover {
                background-image: url("../images/dining.jpg");
            }
        }
    }
} //end main

footer {
    background-color: black;
    max-width: 75rem;
    color: white;
    text-align: center;
    bottom: 0;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
