@media screen and (min-width: 60rem) {
    header,
    nav,
    main {
        margin: auto;
    }
    body {
        color: blue;
    }
    //begin header
    div#headerWrapper {
        background-color: black;
        color: white;
        font-size: 1.6rem;
        padding: 1rem 2vw;
    }
    header {
        background-image: url(../images/header-large.jpg);
        height: 400px;
        background-size: cover;
        background-position: center bottom;
    }
    //end header css
    //begin nav
    nav {
        max-width: 960px;
        button {
            display: none;
        }
        ul,
        ul.open {
            margin-left: 2vw;
            border: none;
            display: flex;
            justify-content: right;
            li {
                border: none;
            }
        }
    } //end nav
    main {
        .cardDeck {
            display: flex;
            flex-wrap: wrap;
            .card {
                flex-basis: 31%;
            }
        }
    }
} // end media query
