body {
    color: gray;
}
//header css
div#headerWrapper {
    // background-color: black;
    // color: white;
    // font-size: 1.6rem;
    // font-weight: $boldWeight;
    // padding: 1rem 2vw;
}

header {
    background-image: url(../images/header-small.jpg);
    height: 140px;
}
//end header css
