@media only screen and(min-width: 560px) {
    nav {
        .container {
            display: flex;
            // justify-content: center;
            float: right;
            background-color: gray;
        }
    }

    body {
        color: purple;
    }
    main {
        div.figures figure {
            flex-basis: 29%;
        }
    }
} //end of media query
