@media only screen and (max-width: 559px) {
    body {
        color: blue;
    }
    .logo {
        display: none;
    }
    header {
        max-width: 75rem;
        align-items: center;
        padding: 0.5rem 2vw;
        background-color: greenyellow;

        h1 {
            font-size: 1.6rem;
            font-weight: lighter;
            padding-left: 0.5rem;
        }
    }

    //start nav stuff
    nav {
        max-width: 75rem;
        ul {
            padding-left: 0;
            list-style-type: none;
        }

        ul li a {
            color: #333;
            text-decoration: none;
            display: block;
            border-top: solid 1px rgba(0, 0, 0, 1);
            padding: 1rem 2vw;
        }
        ul li a:hover {
            background-color: green;
        }
        a {
            height: 1rem;
        }

        ul li.active a {
            background-color: lighten(hotpink, 10%);
        }
    } //end of nav
    p {
        padding: 1rem 2vw;
    }
}
