@media screen and(min-width: 35rem) {
    body {
        #headerWrapper {
            border-bottom: 1px solid #eee;
        }
        header {
            grid-template-columns: 150px auto auto;
            max-width: 75rem;
            div#phone {
                display: block;
                justify-self: end;
                a {
                    color: #707069;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 2rem;
                } //end anchor
                a:hover {
                    color: black;
                }
            } //end phone
        } //end header

        //-------- NAV STUFF --------//
        div#hamburger,
        div#closex {
            display: none;
        }
        nav {
            height: auto;
            max-width: 75rem;
            ul {
                display: flex;
                justify-content: right;
                border: none;

                li {
                    border: none;
                }
                li.active a {
                    background-color: lighten(red, 10%);
                }
            }
        }
        //-------- STRUCTURE STUFF --------//
        div#headerWrapper {
            grid-row-start: 1;
        }
        div#navWrapper {
            grid-row-start: 2;
        }
        div#mainWrapper {
            grid-row-start: 3;
        }
        div#footerWrapper {
            grid-row-start: 4;
        }

        main {
            //-------- COLUMNS --------//
            @for $i from 1 through 12 {
                $w: ($i / 12) * 100%;
                .medium-#{$i} {
                    flex-basis: $w;
                }
            } // end loop
        }
    }
}
